.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em; /* 4 8 4 8 */
}
.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
}
.radio-button {
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.radio-button:selected  {
    -fx-border-color: black;
    -fx-border-width: 4px;
}
#paneCanvas {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}